@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 피처 속성 정보 조회 css 시작 */
#featureInfo>div,#featureInfo>div>div{
  padding : 10px;
}
#featureInfo>div>div{
  overflow-x : auto;
}
#featureInfo h5.title,featureInfo h6.title{
  font-weight : bold;
  margin-bottom: 5px;
}
#featureInfo table{
  border-collapse: collapse;
}
#featureInfo td {
  border: 1px solid #949494 !important;
  padding: 3px !important;
  text-align: center;
}
/* 피처 속성 정보 조회 css 끝 */

/* 피처를 클릭하여 속성 정보 확인하기 시작 */
#popup {
  background-color: white;
  padding : 5px;
}
#popup div{
  display:none;
}

#popup div.active{
  display:block;
}

#popup ul{
  margin-bottom: 5px;
  list-style: none;
  display: flex;
}
#popup li{
  font-weight : bold;
  padding: 0px 5px;
}
#popup li.active{
  color : blue;
}
#popup table{
  width:100%
}
#popup td {
  border: 1px solid #949494 !important;
  padding: 3px !important;
  text-align: center;
}
/* 피처를 클릭하여 속성 정보 확인하기 끝 */

.ml-1{
  margin-left: .25rem !important;
}

.basemap_basemapArea{
  padding: 0 .5rem 0 0 !important;
}

.toolbar {
  position: absolute !important;
  height: 68vh !important;
  border-radius: 4px !important;
  display: flex;
  flex-direction: row;
  align-items: end !important;
}